# nrepl port
**/**/.nrepl-port

# Caches
**/.DS_Store

# Kondo
# The .clj-kondo/config.edn is where we setup kondo.
# It is part of CICD, It is important to keep that file.
**/.clj-kondo/.cache

# Clojure cache
**/.cpcache/

# Private credentials
**/.clever.json

#intellij
.idea/
**.iml
**/**.iml

#temporary directory
tmp
