;; For debug only.
{:alias-outputfilename "docs/code/alias.edn"
 :app-dir ""
 :app-name "automaton-build"
 :bb-edn
 {:deps {djblue/portal {:mvn/version "0.51.1"}
         io.github.clojure/tools.build {:mvn/version "0.9.6"}
         metosin/malli {:mvn/version "0.13.0"}
         org.clojure/tools.cli {:mvn/version "1.0.219"}}
  :paths ["src/clj" "test_la/clj"]
  :tasks
  {:requires
   [[automaton-build.tasks.launcher.bb-entrypoint :as build-task-bb-entrypoint]
    [babashka.process :as babahska-process]]
   heph-task {:doc "Launch an Hephaistox task"
              :task (System/exit (build-task-bb-entrypoint/-main
                                  *command-line-args*))}
   lconnect
   {:doc
    "Repl in case automaton-build is failing. Using -f or --force cli arguments to force start if some part are failing"
    :task (try (-> (babahska-process/shell
                    "clojure"
                    "-M:common-test:env-development-repl:build"
                    *command-line-args*)
                   System/exit)
               (catch Exception e
                 (println "Repl failed also - error during repl startup"
                          (ex-message e))))}}}
 :cli-args ("-m" "Add la-empty")
 :cli-opts
 {:arguments []
  :errors nil
  :options {:log :info
            :message-opt "Add la-empty"}
  :summary
  "  -l, --log LOG-LEVEL               :info  Log level, one of `trace`, `debug`, `info`, `warning`, `error`, `fatal`\n  -d, --details                            Show details and don't ellipsis the log\n  -h, --help                               Displays this help message\n  -m, --message-opt COMMIT-MESSAGE         Commit message"}
 :comments-outputfilename "docs/code/comments.edn"
 :css-outputfilename "docs/code/css.edn"
 :deps-edn
 {:aliases
  {:bb-deps {:extra-deps {djblue/portal {:mvn/version "0.51.1"}
                          io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          metosin/malli {:mvn/version "0.13.0"}
                          org.clojure/tools.cli {:mvn/version "1.0.219"}}}
   :build {:extra-deps {}}
   :common-test
   {:exec-fn cognitect.test-runner.api/test
    :extra-deps {clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
                 com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner"
                  :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                 markdown-clj/markdown-clj {:mvn/version "1.11.7"}
                 org.clojure/tools.namespace {:mvn/version "1.4.4"}
                 org.clojure/tools.reader {:mvn/version "1.3.7"}}
    :extra-paths ["test/clj" "test/resources"]
    :jvm-opts ["-Dheph-conf=env/test/config.edn,env/common_config.edn"]}
   :env-development-repl
   {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                 djblue/portal {:mvn/version "0.51.0"}
                 org.clojure/core.async {:mvn/version "1.6.681"}
                 refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
    :extra-paths ["env/development/resources"
                  "env/development/src/clj"
                  "env/development/src/cljc"]
    :jvm-opts ["-Dheph-conf=env/development/config.edn,env/common_config.edn"]
    :main-opts ["-m" "automaton-build.repl"]}
   :env-development-test
   {:jvm-opts
    ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
     "-Dhephaistox-in-test=true"
     "-Dlog4j.configurationFile=resources/log_config/appenders.properties,resources/log_config/logging-tests.properties"]
    :main-opts ["-m"
                "cognitect.test-runner"
                "-r"
                ".*-test.*"
                "-d"
                "test/clj"
                "-d"
                "test/cljc"]}}
  :deps {babashka/fs {:mvn/version "0.5.20"}
         babashka/process {:mvn/version "0.5.21"}
         clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
         codox/codox {:mvn/version "0.10.8"}
         com.github.liquidz/antq {:mvn/version "2.7.1133"}
         dev.weavejester/medley {:mvn/version "1.7.0"}
         djblue/portal {:mvn/version "0.51.1"}
         hiccup/hiccup {:mvn/version "2.0.0-RC2"}
         io.dominic/vizns {:git/url "https://github.com/SevereOverfl0w/vizns"
                           :sha "52eae0364284ad191e71f6591ef927665b1f37bc"}
         io.github.clojure/tools.build {:mvn/version "0.9.6"}
         markdown-clj/markdown-clj {:mvn/version "1.11.7"}
         metosin/malli {:mvn/version "0.13.0"}
         slipset/deps-deploy {:mvn/version "0.2.2"}
         zprint/zprint {:mvn/version "1.2.8"}}
  :ns-default automaton-build.core
  :paths ["src/clj" "test_la/clj"]}
 :forbiddenwords-outputfilename "docs/code/forbbiden-words.edn"
 :forbiddenwords-words #{"automaton-core" "automaton-web" "landing" "tap>"}
 :include-files #{"build_config.edn" "deps.edn" "shadow-cljs.edn"}
 :log :info
 :message-opt "Add la-empty"
 :namespace-outputfilename "docs/code/namespace.edn"
 :package-json nil
 :shadow-cljs nil
 :shadow-report-app :app
 :shadow-report-outputfilename "doc/codes/code-size.edn"
 :task-map {:build-config-task-kws [:wf-3 :reports :format-code :lint :commit]
            :doc "Quick verifications and formatting for IDE usage"
            :group :wf
            :pf :bb
            :shared []
            :step 3
            :task-cli-opts-kws [:message-opt]
            :task-fn automaton-build.tasks.workflow.composer/composer
            :task-name "wf-3"
            :wk-tasks [reports format-code lint commit]}
 :task-name "wf-3"
 :task-registry
 {bg
  {:build-config-task-kws [:bg]
   :doc
   "Pause the execution - usefull for tasks that need to continue their execution in bg, like watchers"
   :hidden? true
   :la-test {:cmd ["bb" "heph-task" "bg"]
             :skip? true}
   :task-fn automaton-build.tasks.bg/exec
   :task-name "bg"}
  build-jar {:build-config-task-kws [:build-jar]
             :build-configs [[:aliases {:default [:run]}
                              [:vector :keyword]]
                             [:class-dir {:default "target/classes/"}
                              :string]]
             :doc "Compiles project to jar"
             :hidden?
             automaton-build.tasks.registry.conditions/not-deploy-target?
             :la-test {:cmd ["bb" "heph-task" "build-jar"]
                       :skip? true}
             :pf :clj
             :shared [:publication]
             :task-fn automaton-build.tasks.build-jar/exec
             :task-name "build-jar"}
  clean {:build-config-task-kws [:clean]
         :build-configs [[:dirs [:vector :string]]]
         :doc "Clean cache files for compiles, and logs"
         :la-test {:cmd ["bb" "heph-task" "clean"]}
         :task-fn automaton-build.tasks.clean/exec
         :task-name "clean"}
  clean-hard
  {:build-config-task-kws [:clean-hard]
   :doc
   "Clean all files which are not under version control (it doesn't remove untracked file or staged files if there are eligible to `git add .`)"
   :la-test {:cmd ["bb" "heph-task" "clean-hard"]
             :process-opts {:in "q"}}
   :task-fn automaton-build.tasks.clean-hard/exec
   :task-name "clean-hard"}
  clean-state {:build-config-task-kws [:clean-state]
               :doc "Checks if you are in a clean state in terms of changes."
               :la-test {:cmd ["bb" "heph-task" "clean-state"]
                         :skip? true}
               :task-fn automaton-build.tasks.clean-state/exec
               :task-name "clean-state"}
  commit {:build-config-task-kws [:commit]
          :doc "Commit and push, disallowed for production branch."
          :hidden? true
          :la-test {:cmd ["bb" "heph-task" "commit"]
                    :skip? true}
          :task-cli-opts-kws [:message-opt]
          :task-fn automaton-build.tasks.commit/exec
          :task-name "commit"}
  container-clear {:build-config-task-kws [:container-clear]
                   :doc "Clear all local containers"
                   :la-test {:cmd ["bb" "heph-task" "container-clear"]
                             :skip? true}
                   :task-fn automaton-build.tasks.container-clear/exec
                   :task-name "container-clear"}
  container-list {:build-config-task-kws [:container-list]
                  :doc "List all available containers"
                  :la-test {:cmd ["bb" "heph-task" "container-list"]}
                  :task-fn automaton-build.tasks.container-list/exec
                  :task-name "container-list"}
  error {:build-config-task-kws [:error]
         :doc "Run intentionaly an error."
         :hidden? true
         :la-test {:cmd ["bb" "heph-task" "error"]
                   :expected-exit-code 131}
         :task-fn automaton-build.tasks.error/exec
         :task-name "error"}
  error-clj {:build-config-task-kws [:error-clj]
             :doc "Run intentionaly an error on clj."
             :hidden? true
             :la-test {:cmd ["bb" "heph-task" "error-clj"]
                       :expected-exit-code 131}
             :pf :clj
             :task-fn automaton-build.tasks.error-clj/exec
             :task-name "error-clj"}
  format-code {:build-config-task-kws [:format-code]
               :build-configs [[:include-files {:default #{"build_config.edn"
                                                           "deps.edn"
                                                           "shadow-cljs.edn"}}
                                [:set :string]]]
               :doc "Format the whole documentation"
               :la-test {:cmd ["bb" "heph-task" "format-code"]}
               :task-fn automaton-build.tasks.format-code/exec
               :task-name "format-code"}
  generate-code-stats {:build-config-task-kws [:generate-code-stats]
                       :build-configs [[:stats-outputfilename
                                        {:default "docs/code/stats.md"}
                                        :string]]
                       :doc "Update code statistics"
                       :la-test {:cmd ["bb" "heph-task" "generate-code-stats"]}
                       :task-fn automaton-build.tasks.generate-code-stats/exec
                       :task-name "generate-code-stats"}
  gha {:build-config-task-kws [:gha :is-cicd :lint :lbe-test :la-empty]
       :doc "Github action tests - launched is automatically by github"
       :group :gha
       :pf :bb
       :shared []
       :step 1
       :task-cli-opts-kws [:force]
       :task-fn automaton-build.tasks.workflow.composer/composer
       :task-name "gha"
       :wk-tasks [is-cicd lint lbe-test la-empty]}
  gha-container-publish
  {:build-config-task-kws [:gha-container-publish]
   :doc "Update the gha container to run that app"
   :hidden? automaton-build.tasks.registry.conditions/not-cicd?
   :la-test {:cmd ["bb" "heph-task" "gha-container-publish"]
             :skip? true}
   :shared [:gha :account]
   :task-cli-opts-kws [:tag]
   :task-fn automaton-build.tasks.gha-container-publish/exec
   :task-name "gha-container-publish"}
  gha-lconnect {:build-config-task-kws [:gha-lconnect]
                :doc "Connect to a local container running this code"
                :hidden? automaton-build.tasks.registry.conditions/not-cicd?
                :la-test {:cmd ["bb" "heph-task" "gha-lconnect"]
                          :skip? true}
                :shared [:gha :account]
                :task-fn automaton-build.tasks.gha-lconnect/exec
                :task-name "gha-lconnect"}
  is-cicd {:build-config-task-kws [:is-cicd]
           :doc "Tested if runned on cicd"
           :hidden? true
           :la-test {:cmd ["bb" "heph-task" "is-cicd" "-f"]}
           :task-cli-opts-kws [:force]
           :task-fn automaton-build.tasks.is-cicd/exec
           :task-name "is-cicd"}
  la {:build-config-task-kws [:la]
      :doc "Local acceptance test"
      :la-test {:cmd ["bb" "heph-task" "la"]
                :skip? true}
      :task-fn automaton-build.tasks.la/exec
      :task-name "la"}
  la-empty {:build-config-task-kws [:la-empty]
            :doc "Local acceptance test with no cli args"
            :la-test {:cmd ["bb" "heph-task" "la-empty"]
                      :skip? true}
            :task-fn automaton-build.tasks.la-empty/exec
            :task-name "la-empty"}
  lbe-repl
  {:build-config-task-kws [:lbe-repl]
   :build-configs [[:repl-aliases {:default [:common-test
                                             :env-development-repl]}
                    [:vector :keyword]]]
   :doc
   "Connect to repl - this command is to be used by workflow, a version apart from build_app is directly set in `bb.edn`."
   :hidden? true
   :la-test {:cmd ["bb" "heph-task" "lbe-repl"]
             :skip? true}
   :task-fn automaton-build.tasks.lbe-repl/exec
   :task-name "lbe-repl"}
  lbe-test {:build-config-task-kws [:lbe-test]
            :build-configs [[:test-aliases {:default [:env-development-test
                                                      :common-test]}
                             [:vector :keyword]]]
            :doc "Local Backend test"
            :la-test {:cmd ["bb" "heph-task" "lbe-test"]
                      :skip? true}
            :task-fn automaton-build.tasks.lbe-test/exec
            :task-name "lbe-test"}
  lfe-manual {:build-config-task-kws [:lfe-manual]
              :doc "Asks user if tests are passing"
              :la-test {:cmd ["bb" "heph-task" "lfe-manual"]
                        :skip? true}
              :task-cli-opts-kws [:force]
              :task-fn automaton-build.tasks.lfe-manual/exec
              :task-name "lfe-manual"}
  lint {:build-config-task-kws [:lint]
        :doc "Apply linter on project source code."
        :la-test {:cmd ["bb" "heph-task" "lint"]}
        :task-fn automaton-build.tasks.lint/exec
        :task-name "lint"}
  mermaid {:build-config-task-kws [:mermaid]
           :doc "Build all mermaid files"
           :la-test {:cmd ["bb" "heph-task" "mermaid"]}
           :shared [:mermaid-dir]
           :task-fn automaton-build.tasks.mermaid/exec
           :task-name "mermaid"}
  mermaid-watch {:build-config-task-kws [:mermaid-watch]
                 :doc "Watch mermaid files modifications"
                 :la-test {:cmd ["bb" "heph-task" "mermaid-watch"]
                           :skip? true}
                 :shared [:mermaid-dir]
                 :task-fn automaton-build.tasks.mermaid-watch/exec
                 :task-name "mermaid-watch"}
  publish-app
  {:build-config-task-kws [:publish-app]
   :doc
   "Publish project to CC, same as above, but instead of clojars the uberjar is pushed to clever-cloud repo."
   :la-test {:cmd ["bb" "heph-task" "publish-app"]
             :skip? true}
   :pf :clj
   :shared [:publication]
   :task-cli-opts-kws [:environment]
   :task-fn automaton-build.tasks.publish-app/exec
   :task-name "publish-app"}
  publish-library
  {:build-config-task-kws [:publish-library]
   :doc
   "Publish project, by deploying the jar to clojars and pushing git main branch with new version"
   :la-test {:cmd ["bb" "heph-task" "publish-library"]
             :skip? true}
   :pf :clj
   :shared [:publication]
   :task-fn automaton-build.tasks.publish-library/exec
   :task-name "publish-library"}
  pull-base-branch {:build-config-task-kws [:pull-base-branch]
                    :doc "Checks if you are up to date with base branch."
                    :la-test {:cmd ["bb" "heph-task" "pull-base-branch"]
                              :skip? true}
                    :pf :clj
                    :shared [:publication]
                    :task-fn automaton-build.tasks.pull-base-branch/exec
                    :task-name "pull-base-branch"}
  push-local {:build-config-task-kws [:push-local]
              :doc "Push this repo"
              :la-test {:cmd ["bb" "heph-task" "push-local"]
                        :skip? true}
              :pf :clj
              :shared [:publication]
              :task-cli-opts-kws [:force :message :tag :environment]
              :task-fn automaton-build.tasks.push-local/exec
              :task-name "push-local"}
  reports {:build-config-task-kws [:reports]
           :build-configs
           [[:alias-outputfilename {:default "docs/code/alias.edn"}
             :string]
            [:comments-outputfilename {:default "docs/code/comments.edn"}
             :string]
            [:forbiddenwords-words {:default #{"tap>"}}
             [:set :string]]
            [:forbiddenwords-outputfilename {:default
                                             "docs/code/forbbiden-words.edn"}
             :string]
            [:shadow-report-outputfilename {:default "doc/codes/code-size.edn"}
             :string]
            [:shadow-report-app {:default :app}
             :keyword]
            [:css-outputfilename {:default "docs/code/css.edn"}
             :string]
            [:namespace-outputfilename {:default "docs/code/namespace.edn"}
             :string]]
           :doc "Creates the reports of code analysis"
           :la-test {:cmd ["bb" "heph-task" "reports"]}
           :task-fn automaton-build.tasks.reports/exec
           :task-name "reports"}
  storage-install
  {:build-config-task-kws [:storage-install]
   :build-configs
   [[:datomic-url-pattern
     {:default
      "https://datomic-pro-downloads.s3.amazonaws.com/%1$s/datomic-pro-%1$s.zip"}
     :string]]
   :doc "Install a datomic local engine"
   :la-test {:cmd ["bb" "heph-task" "storage-install"]
             :skip? true}
   :shared [:storage-datomic]
   :task-cli-opts-kws [:force]
   :task-fn automaton-build.tasks.storage-install/exec
   :task-name "storage-install"}
  storage-start {:build-config-task-kws [:storage-start]
                 :doc "Starts a datomic transactor."
                 :hidden? true
                 :la-test {:cmd ["bb" "heph-task" "storage-start"]}
                 :shared [:storage-datomic]
                 :task-fn automaton-build.tasks.storage-start/exec
                 :task-name "storage-start"}
  tasks {:build-config-task-kws [:tasks]
         :doc "List all tasks."
         :la-test {:cmd ["bb" "heph-task" "tasks"]}
         :shared [:publication]
         :task-fn automaton-build.tasks.tasks/exec
         :task-name "tasks"}
  update-deps
  {:build-config-task-kws [:update-deps]
   :build-configs [[:exclude-libs
                    {:default #{"org.clojars.hephaistox/automaton-core@*-*"
                                "org.clojars.hephaistox/automaton-build@*-*"
                                "refactor-nrepl/refactor-nrepl"
                                "org.clojars.hephaistox/automaton-web-dev@*-*"
                                "com.taoensso/encore" "cider/cider-nrepl"
                                "org.clojars.hephaistox/automaton-web@*-*"
                                "com.github.liquidz/antq"}}
                    [:set :string]]]
   :doc
   "Update the dependencies, cider-nrepl and refactor are to be updated manually"
   :la-test {:cmd ["bb" "heph-task" "update-deps"]
             :skip? true}
   :pf :clj
   :task-fn automaton-build.tasks.update-deps/exec
   :task-name "update-deps"}
  visualize-deps {:build-config-task-kws [:visualize-deps]
                  :build-configs [[:output-file {:default "docs/code/deps.svg"}
                                   :string]]
                  :doc "Visualize the dependencies in a graph"
                  :hidden? true
                  :la-test {:cmd ["bb" "heph-task" "visualize-deps"]}
                  :pf :clj
                  :task-fn automaton-build.tasks.visualize-deps/exec
                  :task-name "visualize-deps"}
  visualize-ns {:build-config-task-kws [:visualize-ns]
                :build-configs [[:output-file {:default "docs/code/deps-ns.svg"}
                                 :string]]
                :doc "Visualize the namespaces in graph"
                :hidden? true
                :la-test {:cmd ["bb" "heph-task" "visualize-ns"]}
                :pf :clj
                :task-fn automaton-build.tasks.visualize-ns/exec
                :task-name "visualize-ns"}
  wf-2 {:build-config-task-kws [:wf-2 :storage-start :lbe-repl :lfe-watch :bg]
        :doc "Start repls"
        :group :wf
        :pf :bb
        :shared [:storage-datomic]
        :step 2
        :task-cli-opts-kws []
        :task-fn automaton-build.tasks.workflow.composer/composer
        :task-name "wf-2"
        :wk-tasks [storage-start lbe-repl lfe-watch bg]}
  wf-3 {:build-config-task-kws [:wf-3 :reports :format-code :lint :commit]
        :doc "Quick verifications and formatting for IDE usage"
        :group :wf
        :pf :bb
        :shared []
        :step 3
        :task-cli-opts-kws [:message-opt]
        :task-fn automaton-build.tasks.workflow.composer/composer
        :task-name "wf-3"
        :wk-tasks [reports format-code lint commit]}
  wf-3f {:build-config-task-kws
         [:wf-3f :reports :format-code :lint :lbe-test :lfe-manual :commit]
         :doc "Full work verification workflow"
         :group :wf
         :pf :bb
         :shared []
         :step 3
         :task-cli-opts-kws [:force :message-opt]
         :task-fn automaton-build.tasks.workflow.composer/composer
         :task-name "wf-3f"
         :wk-tasks [reports format-code lint lbe-test lfe-manual commit]}}}