{:aliases
 {:bb-deps {:extra-deps {cheshire/cheshire {:mvn/version "5.12.0"}
                         djblue/portal {:mvn/version "0.53.0"}
                         io.github.clojure/tools.build {:mvn/version "0.10.0"}
                         metosin/malli {:mvn/version "0.14.0"}
                         org.clojure/tools.cli {:mvn/version "1.1.230"}}}
  :build {:extra-deps {}}
  :codox
  {:exec-args
   {:description
    "`automaton-build` is a library to ease project cicd: build, test, deployemnt..."
    :doc-paths ["docs"]
    :metadata {:doc/format :markdown}
    :name "Automaton build"
    :output-path "tmp/codox"
    :source-uri
    "https://github.com/hephaistox/automaton-build/blob/{version}/{filepath}#L{line}"}
   :exec-fn codox.main/generate-docs
   :extra-deps {codox/codox {:mvn/version "0.10.8"}}}
  :common-test
  {:exec-fn cognitect.test-runner.api/test
   :extra-deps {clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
                com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                markdown-clj/markdown-clj {:mvn/version "1.12.1"}
                org.clojure/tools.namespace {:mvn/version "1.5.0"}
                org.clojure/tools.reader {:mvn/version "1.4.1"}}
   :extra-paths ["test/clj" "test/resources"]
   :jvm-opts ["-Dheph-conf=env/test/config.edn,env/common_config.edn"]}
  :env-development-repl
  {:extra-deps {djblue/portal {:mvn/version "0.53.0"}
                org.clojure/core.async {:mvn/version "1.6.681"}}
   :extra-paths ["env/development/resources"
                 "env/development/src/clj"
                 "env/development/src/cljc"]
   :jvm-opts ["-Dheph-conf=env/development/config.edn,env/common_config.edn"]
   :main-opts ["-m" "automaton-build.repl.entry-point"]}
  :env-development-test {:jvm-opts ["-Dhephaistox-in-test=true"]
                         :main-opts ["-m"
                                     "cognitect.test-runner"
                                     "-r"
                                     ".*-test.*"
                                     "-d"
                                     "test/clj"
                                     "-d"
                                     "test/cljc"]}}
 :deps {babashka/fs {:mvn/version "0.5.20"}
        babashka/process {:mvn/version "0.5.22"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
        codox/codox {:mvn/version "0.10.8"}
        com.github.liquidz/antq {:mvn/version "2.8.1201"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        djblue/portal {:mvn/version "0.53.0"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        io.dominic/vizns {:git/url "https://github.com/SevereOverfl0w/vizns"
                          :sha "36fed24e3673f0562fbc53d4c5d932c51fb0ac53"}
        io.github.clojure/tools.build {:mvn/version "0.10.0"}
        markdown-clj/markdown-clj {:mvn/version "1.12.1"}
        metosin/malli {:mvn/version "0.14.0"}
        slipset/deps-deploy {:exclusions [org.slf4j/slf4j-nop]
                             :mvn/version "0.2.2"}
        zprint/zprint {:mvn/version "1.2.9"}}
 :ns-default automaton-build.core
 :paths ["src/clj" "src/bb" "test_la/clj" "test/bb"]}
